.cartLoaderWrapper {
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  /* flex-direction: column; */
  width: 20rem;
  top: 30vh;
  left: 42vw;
  /* overflow: hidden; */
}

.cartLoaderWrapper img {
  width: 15rem;
  height: 15rem;
}

.cartLoaderWrapper p {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

@media only screen and (max-width: 1000px) {
  .cartLoaderWrapper {
    left: 35vw;
  }
}

@media only screen and (max-width: 650px) {
  .cartLoaderWrapper {
    left: 30vw;
  }
}

@media only screen and (max-width: 450px) {
  .cartLoaderWrapper {
    left: 25vw;
  }
}
