.cartLoaderWrapper {
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  /* flex-direction: column; */
  width: 20rem;
  top: 30vh;
  left: 42vw;
  /* overflow: hidden; */
}

.cartLoaderWrapper img {
  width: 15rem;
  height: 15rem;
}

.cartLoaderWrapper p {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
