.successModal {
  top: 30vh;
  left: 38.5vw;
  width: 35rem;
  padding: 2rem 0;
}

.successHeader {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.successHeader i {
  color: green;
  font-size: 2.5rem;
  margin-right: 1rem;
}

.successBody {
  margin: 2rem 0;
  font-size: 1.5rem;
}

.successFooter button {
  margin-top: 1rem;
  background-color: green;
  font-size: 1.5rem;
  float: right;
  padding: 0.75rem 1.5rem;
  border-radius: 1rem;
  color: white;
  border: none;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: all 0.2s;
}

.successFooter button:hover {
  transform: translateY(-2px);
  box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.2);
}

.successFooter button:active {
  transform: translateY(-1px);
  box-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.2);
}

@media only screen and (max-width: 1200px) {
  .successModal {
    left: 35vw;
  }
}

@media only screen and (max-width: 1000px) {
  .successModal {
    left: 32.5vw;
  }
}

@media only screen and (max-width: 800px) {
  .successModal {
    left: 30vw;
  }
}

@media only screen and (max-width: 700px) {
  .successModal {
    left: 25vw;
  }
}

@media only screen and (max-width: 600px) {
  .successModal {
    left: 20vw;
  }
}

@media only screen and (max-width: 550px) {
  .successModal {
    left: 15vw;
  }
}

@media only screen and (max-width: 450px) {
  .successModal {
    left: 7.5%;
  }
}
