.backdrop {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 10;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

.backdropWithLoaderWrapper img {
  width: 10rem;
  opacity: 0.75;
}
