.orderCardItemWrapper {
  display: flex;
  justify-content: space-between;
  margin: 1rem 1rem;
  padding-bottom: 1rem;
}

.orderCardItemWrapper:not(:last-child) {
  border-bottom: 1px solid rgba(128, 128, 128, 0.35);
}

.leftSideItemsWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.leftSideItemsWrapper p {
  margin-left: 1rem;
  font-size: 1.5rem;
}

.leftSideItemsWrapper img {
  width: 7.5rem;
  height: 7.5rem;
  object-fit: cover;
}

.rightSideItemsWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.rightSideItemsWrapper h3 {
  font-size: 1.5rem;
}
