.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  z-index: 50;
  align-items: center;
}

.cartLoaderWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 20rem;
  overflow: hidden;
}

.cartLoaderWrapper img {
  width: 15rem;
  height: 15rem;
}

.cartLoaderWrapper p {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
