@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

/* Root font size is set in the html selector */
html {
  /* font-size: 10px; Now, 1rem = 10px */
  font-size: 62.5%;
  /* Now, 62.5% of 16 = 10px, exactly, what we want */
}

body {
  box-sizing: border-box;
  background: white;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  /* font-size: 16px; */
  line-height: 1.7;
  box-sizing: border-box;
  overflow-x: hidden;
}
